/*reset CSS*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*header*/
header {
  padding: 10px 20px;
  background-color: #ffb1bb80;
}

h1 {
  font-family: 'Questrial', sans-serif;
  font-size: 50px;
  color: #5b3427;
}

h2 {
  font-family: 'Fjalla One', sans-serif;
}

.text h2 {
  font-size: 40px;
  margin-bottom: 20px;
}

.text p,
#curso .content p,
#comentarios article {
  font-size: 25px;
  margin-bottom: 40px;
}

.text a,
.produtos a {
  background-color: #5b3427;
  color: #fff;
  padding: 8px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  text-align: center;
}

header a {
  font-family: 'Questrial', sans-serif;
  text-decoration: none;
  color: #5b3427;
  margin-left: 20px;
  font-size: 25px;
}

h3,
p,
a,
#comentarios article {
  font-family: 'Source Sans Pro', sans-serif;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header img {
  height: 80px;
}

header nav ul li{
  display: inline;
}

/*front-page*/
#front-page {
  background-image: url(./imagens/brooke-lark-ZkgWJ4BfgsE-unsplash.jpg); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 70vh;
  display: flex;
  align-items: center;
  border-top: #5b3427 5px solid;
}

#front-page .text {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  color: #5b3427;
  margin-left: 40px;
  width: 30%;
  padding: 15px;
}

/*section videos*/
#videos,
#comentarios {
  background-color: rgb(91, 52, 39, 0.2);
}

.video {
  padding: 80px 0;
}

.video h2,
.produtos h2,
#curso h2,
#comentarios h2,
#social-medias h2 {
  text-align: center;
  margin-bottom: 50px;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 500;
  color: #5b3427;
}

.video ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.video ul li{
  width: 45%;
  margin-bottom: 20px;
  list-style: none;
}

/*section products*/
.articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.articles article {
  width: 30%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  background-color: rgb(91, 52, 39, 0.2);
  border-radius: 10px;
}

.articles article img {
  width: 100%;
  height: 300px;
}

.articles article h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}

.articles article p {
  margin-bottom: 20px;
}

.produtos,
#curso {
  background-color: #ffb1bb80;
  padding: 80px 0;
}

.produtos article {
  width: 30%;
  margin-top: 50px;
}

#bolos {
  margin-top: 50px;
} 

/*section curso*/
#curso .container .content h2 {
  text-align: left;
}

#curso .container {
  display: flex;
  justify-content: left;
  align-items: center;
}

#curso .container .content{
  margin-right: 30px;
}

/*section comentarios*/
#comentarios {
  padding: 80px 0;
}

#comentarios img {
  border-radius: 50%;
  margin-bottom: 20px;
}

#comentarios .articles article {
  padding: 20px;
}

#comentarios .container article{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

#comentarios article blockquote {
  font-size: 20px;
  font-style: italic;
  padding: 20px;
}

#comentarios article cite {
  font-size: 20px;
  font-weight: bold;
}

/*social-medias section*/
#social-medias {
  background-color: #ffb1bb80;
  padding: 80px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#social-medias h2 {
  margin-right: 30px;
  margin-bottom: 0;
}

#social-medias ul li{
  display: inline;
}

#social-medias ul li a{
  margin-right: 20px;
}

#social-medias ul li a img{
  width: 50px;
  height: 50px; 
}