/*reset CSS*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*header*/
header {
  padding: 10px 20px;
  background-color: #ffb1bb80;
}

h1 {
  font-family: 'Questrial', sans-serif;
  font-size: 50px;
  color: #5b3427;
}

h2 {
  font-family: 'Fjalla One', sans-serif;
}

.text h2 {
  font-size: 40px;
  margin-bottom: 20px;
}

.text p,
#curso .content p,
#comentarios article {
  font-size: 25px;
  margin-bottom: 40px;
}

.text a,
.produtos a,
form button,
.text-book a {
  background-color: #5b3427;
  color: #fff;
  padding: 8px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  text-align: center;
  border: none;
  cursor: pointer;
}

.text a:hover,
.produtos a:hover,
form button:hover,
.text-book a:hover {
  background-color: #5b3427d8;
}

header a {
  font-family: 'Questrial', sans-serif;
  text-decoration: none;
  color: #5b3427;
  margin-left: 20px;
  font-size: 25px;
  font-weight: bolder;
}

header a:hover {
  color: #5b3427b7;
}

h3,
p,
a,
#comentarios article,
form label,
form input,
form textarea,
form label,
form button {
  font-family: 'Source Sans Pro', sans-serif;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header img {
  height: 80px;
}

header nav ul li{
  display: inline;
}

/*front-page*/
#front-page {
  background-image: url(./imagens/brooke-lark-ZkgWJ4BfgsE-unsplash.jpg); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 70vh;
  display: flex;
  align-items: center;
  border-top: #5b3427 5px solid;
}

#front-page .text {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  color: #5b3427;
  margin-left: 40px;
  width: 30%;
  padding: 15px;
}

/*section videos*/
#videos,
#comentarios,
#social-medias,
footer {
  background-color: rgb(91, 52, 39, 0.2);
}

.video {
  padding: 80px 0;
}

.video h2,
.produtos h2,
#curso h2,
#comentarios h2,
#social-medias h2,
#sobre h2,
#contato h2 {
  text-align: center;
  margin-bottom: 50px;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 500;
  color: #5b3427;
}

.video ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.video ul li{
  width: 45%;
  margin-bottom: 20px;
  list-style: none;
}

.video ul li p {
  font-size: 25px;
  margin-top: 15px;
  text-align: center;
  color: #5b3427;
}

/*section products*/
.articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.articles article {
  width: 30%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  background-color: rgb(91, 52, 39, 0.2);
  border-radius: 10px;
}

.articles article img {
  width: 100%;
  height: 300px;
}

.articles article h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 30px;
  color: #5b3427;
}

.articles article p {
  margin-bottom: 20px;
  padding: 20px;
  font-size: 20px;
  color: #5b3427;
  text-align: justify;
}

.produtos,
#curso {
  background-color: #ffb1bb80;
  padding: 80px 0;
}

.produtos article {
  width: 30%;
  margin-top: 50px;
}

#bolos {
  margin-top: 50px;
} 

/*section curso*/
#curso .container .content h2 {
  text-align: left;
}

#curso .container {
  display: flex;
  justify-content: left;
  align-items: center;
}

#curso .container .content{
  margin-right: 30px;
  color: #5b3427;
  text-align: justify;
}

/*section comentarios*/
#comentarios {
  padding: 80px 0;
}

#comentarios img {
  border-radius: 50%;
  margin-bottom: 20px;
}

#comentarios .articles article {
  padding: 20px;
}

#comentarios .container article{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

#comentarios article blockquote {
  font-size: 20px;
  font-style: italic;
  padding: 20px;
  color: #5b3427;
}

#comentarios article cite {
  font-size: 20px;
  font-weight: bold;
  color: #5b3427;
}

/*social-medias section*/
#social-medias {
  padding: 80px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#social-medias h2 {
  margin-right: 30px;
  margin-bottom: 0;
}

#social-medias ul li{
  display: inline;
}

#social-medias ul li a{
  margin-right: 20px;
}

#social-medias ul li a img{
  width: 50px;
  height: 50px; 

}

/*sobre*/
#sobre,
#contato {
  background-color: #ffb1bb80;
  padding: 0;
  display: flex;
}

#sobre .text {
  padding: 40px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 50px;
  color: #5b3427;
  text-align: justify;
}

#sobre img {
  width: 200%;
  height: 300%;
  border-left: #5b3427 5px solid;
}

/*section contato*/
#contato .formulario h2 {
  text-align: left;
}

.e-book img {
  height: 200px;
}

form input,
form textarea {
  display: block;
  width: 100%;
  font-size: 25px;
  margin-bottom: 8px;
  padding: 8px;
}

#checkbox-termos {
  display: inline;
  width: 20px;
}

.contact-methods {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 50px;
}

.e-book {
  width: 50%;
}

form textarea {
  height: 250px;
  resize: none;
}

#contato .formulario {
  width: 45%;
}

form .terms #checkbox-termos {
  height: 30px;
  margin-right: 15px;
}

.formulario .terms {
  font-size: 25px;
  color: #5b3427;
  margin-bottom: 15px;
}

form button,
.text-book a {
  font-size: 25px;
  font-weight: 100;
  padding: 8px 20px;
  margin-right: 10px;
}

form button:hover {
  background-color: #5b3427d8;
}

input:focus, textarea:focus {
  border: 1px solid #5b3427; 
}

.e-book {
  display: flex;
}

.e-book .text-book {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #5b3427;
  font-size: 25px;
}

.e-book .text-book p {
  text-align: justify;
  margin-right: 30px;
  margin-bottom: 30px;
}

.e-book .e-book-image img {
  width: 80%;
  height: 80%;
  border: #5b3427 5px solid;
}

/*footer*/
footer {
  padding: 8px 0;
  text-align: center;
}

footer p {
  color: #5b3427;
}